html {
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    opacity: 0.9;
    color: seashell;
}
body {
    justify-content: center;
}

header {
    display: inline-flex;
    height: 70px;
    box-sizing: border-box;
    margin-bottom: 1px solid seashell;
    width: 100%;
    justify-content: space-between;
    background-color: black;
}

header img {
    height: 50px;
    padding: 10px;
}

header h1 {
    display: inline-flex;
    text-decoration: underline;
    padding: 0px 5px;
    font-size: 1rem;
}

.mission {
    display: flex;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
}

.center {
    align-items: center;
    background-color: black;
    text-align: center;
    margin: auto;
    width: 100%;
}

.center h2, .center h3, .center h4, .center h5 {
    margin: 20px 0px;
    font-weight: 700;
}

.month {
    margin:auto;
display: flex;
width: 1000px;
flex-flow: row wrap;
justify-content: space-evenly;
}
.month img {
    height: 200px;
    width: 300px;
}

.teaImage {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 300px;
}

.locations {
    display: flex;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    height: 700px;
    width: 1200px;
    flex-flow: row-reverse wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: inline-flex;
}

#locate {
    width: 1000px;
    display: flex;
align-items: center;
justify-content: center;
}

#locate h2 {
    display: flex;
    align-content: center;
    align-items: center;
}

.locations h3, .locations h4 {
    align-items: center;
    text-align: center;
}
.black {
    display: flex;
    background-color: black;
    align-content: center;
    align-items: center;
    flex-flow: column;
    margin: 15px 20px;
    width: 300px;
}

.cozy {
    padding-bottom: 20px;
}

footer h3 {
    padding: 20px;
}